language: php
cache:
  bundler: true
  directories:
    - $HOME/tmp/drush
    - $HOME/.bundle
    - $HOME/.composer
    - $HOME/downloads
  apt: true

git:
 depth: 10000

php:
  - 7.0
  - 5.6
  - 5.5

# This creates a build with each php environment. 6 builds in total.
env:
  - PATH=$PATH:/home/travis/.composer/vendor/bin SOLR_VERSION=4.5.1 SOLR_CORE=d8 SOLR_CONFS="$TRAVIS_BUILD_DIR/../drupal/modules/contrib/search_api_solr/solr-conf/4.x"
  - PATH=$PATH:/home/travis/.composer/vendor/bin SOLR_VERSION=5.5.1 SOLR_CORE=d8 SOLR_CONFS="$TRAVIS_BUILD_DIR/../drupal/modules/contrib/search_api_solr/solr-conf/5.x"
  - PATH=$PATH:/home/travis/.composer/vendor/bin SOLR_VERSION=6.3.0 SOLR_CORE=d8 SOLR_CONFS="$TRAVIS_BUILD_DIR/../drupal/modules/contrib/search_api_solr/solr-conf/6.x"

notifications:
  irc:
    - "chat.freenode.net#drupal-search-api"

# This will create the database
mysql:
  database: drupal
  username: root
  encoding: utf8

# To be able to run a webbrowser
# If we need anything more powerful
# than e.g. phantomjs
before_install:
  - phpenv config-rm xdebug.ini
  - composer self-update
  - composer global require "hirak/prestissimo:^0.3"
  - sudo apt-get update -qq > /dev/null
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - "phantomjs --version"

install:
  # Make sure we don't fail when checking out projects
  - echo -e "Host github.com\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
  - echo -e "Host git.drupal.org\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
  # Set sendmail so drush doesn't throw an error during site install.
  - echo "sendmail_path='true'" >> `php --ini | grep "Loaded Configuration" | awk '{print $4}'`
  # Forward the errors to the syslog so we can print them
  - echo "error_log=syslog" >> `php --ini | grep "Loaded Configuration" | awk '{print $4}'`
  # Get latest Drupal 8 core
  - cd $TRAVIS_BUILD_DIR/..
  - git clone --branch 8.3.x https://git.drupal.org/project/drupal.git
  - cd $TRAVIS_BUILD_DIR/../drupal
  - composer install
  - composer config repositories.drupal composer https://packages.drupal.org/8
  - composer require drupal/search_api:1.x-dev
  - composer require drupal/search_api_autocomplete:1.x-dev
  - composer require drupal/search_api_solr:1.x-dev
  - composer require drupal/search_api_solr_multilingual:1.x-dev
  - composer require drupal/facets:1.x-dev
  - composer require drush/drush
  # Patch template.
  #########################################
  # to be removed once #2824932 is resolved
  #- cd modules/search_api
  #- curl https://www.drupal.org/files/issues/2824932.patch | patch -p1
  #- cd $TRAVIS_BUILD_DIR/../drupal
  #########################################

before_script:
  # Start the built-in php web server (mysql is already started) and
  # suppress web-server access logs output.
  - php -S localhost:8888 ./vendor/drush/drush/commands/runserver/d8-rs-router.php >& /dev/null &
  # Install the site
  - ./vendor/bin/drush -v site-install minimal --db-url=mysql://root:@localhost/drupal --yes
  - ./vendor/bin/drush en --yes simpletest
  # Generate a multilingual Solr configuration.
  # Therefore we have to install the test modules before the tests.
  - cp -R core/modules/system/tests/modules/entity_test core/modules/system/entity_test
  - cp -R modules/contrib/search_api/tests/search_api_test_example_content modules/contrib/search_api/search_api_test_example_content
  - cp -R modules/contrib/search_api_solr_multilingual/tests/modules/search_api_solr_multilingual_test modules/contrib/search_api_solr_multilingual/search_api_solr_multilingual_test
  - ./vendor/bin/drush en --yes search_api_solr_multilingual_test
  - ./vendor/bin/drush sasm-gsc solr_multilingual_search_server conf.zip $SOLR_VERSION
  - unzip -o conf.zip -d $SOLR_CONFS
  - ls -lh $SOLR_CONFS
  # Install Solr
  - cat modules/contrib/search_api_solr/travis-solr.sh | bash
  # start phantomjs with gastonjs
  - phantomjs --ssl-protocol=any --ignore-ssl-errors=true ../vendor/jcalderonzumba/gastonjs/src/Client/main.js 8510 1600 1080 > /tmp/pantomjs.out 2>&1 &

script:
  # Run the tests
  - cd $TRAVIS_BUILD_DIR/../drupal
  - export SIMPLETEST_DB=mysql://root:@localhost/drupal
  - export SIMPLETEST_BASE_URL=http://localhost:8888
  - ./vendor/bin/phpunit -c core --group search_api,facets,search_api_solr,search_api_solr_multilingual --verbose | tee ; export TEST_PHPUNIT=${PIPESTATUS[0]} ; echo $TEST_PHPUNIT
  - if [ $TEST_PHPUNIT -eq 0 ]; then exit 0; else exit 1; fi
